### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
Project/STM32F769-Discovery/Debug/*

# Obsidian
.obsidian/*
Project/STM32F769-Discovery/STM32CubeIDE/.settings/language.settings.xml
